varhaiskasvatus = EarlyChildhoodEducation
småbarnsfostran = EarlyChildhoodEducation
småbarnspedagogik = EarlyChildhoodEducation
early childhood education = EarlyChildhoodEducation

esiopetus = PrePrimaryEducation
förskoleundervisning = PrePrimaryEducation
pre-primary education = PrePrimaryEducation

perusopetus[] = BasicEducation
perusopetus[] = BasicEducation/BasicEducation
perusopetuksen vuosiluokat 1-2[] = BasicEducation
perusopetuksen vuosiluokat 3-4[] = BasicEducation
perusopetuksen vuosiluokat 5-6[] = BasicEducation
perusopetuksen vuosiluokat 7-9[] = BasicEducation
perusopetuksen lisäopetus (10-luokka)[] = BasicEducation

perusopetuksen vuosiluokat 1-2[] = BasicEducation/BasicEducation
perusopetuksen vuosiluokat 3-4[] = BasicEducation/BasicEducation
perusopetuksen vuosiluokat 5-6[] = BasicEducation/BasicEducation
perusopetuksen vuosiluokat 7-9[] = BasicEducation/BasicEducation
perusopetuksen lisäopetus (10-luokka)[] = BasicEducation/BasicEducation

perusopetuksen vuosiluokat 1-2[] = BasicEducation/BasicEducation1-2
perusopetuksen vuosiluokat 3-4[] = BasicEducation/BasicEducation3-4
perusopetuksen vuosiluokat 5-6[] = BasicEducation/BasicEducation5-6
perusopetuksen vuosiluokat 7-9[] = BasicEducation/BasicEducation7-9
perusopetuksen lisäopetus (10-luokka)[] = BasicEducation/BasicEducationAdditional

grundläggande utbildning[] = BasicEducation
grundläggande utbildning[] = BasicEducation/BasicEducation
grundläggande utbildning årskurs 1-2[] = BasicEducation
grundläggande utbildning årskurs 3-4[] = BasicEducation
grundläggande utbildning årskurs 5-6[] = BasicEducation
grundläggande utbildning årskurs 7-9[] = BasicEducation
påbyggnadsundervisning efter den grundläggande utbildningen[] = BasicEducation

grundläggande utbildning årskurs 1-2[] = BasicEducation/BasicEducation
grundläggande utbildning årskurs 3-4[] = BasicEducation/BasicEducation
grundläggande utbildning årskurs 5-6[] = BasicEducation/BasicEducation
grundläggande utbildning årskurs 7-9[] = BasicEducation/BasicEducation
påbyggnadsundervisning efter den grundläggande utbildningen[] = BasicEducation/BasicEducation

grundläggande utbildning årskurs 1-2[] = BasicEducation/BasicEducation1-2
grundläggande utbildning årskurs 3-4[] = BasicEducation/BasicEducation3-4
grundläggande utbildning årskurs 5-6[] = BasicEducation/BasicEducation5-6
grundläggande utbildning årskurs 7-9[] = BasicEducation/BasicEducation7-9
påbyggnadsundervisning efter den grundläggande utbildningen[] = BasicEducation/BasicEducationAdditional


basic education[] = BasicEducation
basic education[] = BasicEducation/BasicEducation
basic education grades 1-2[] = BasicEducation
basic education grades 3-4[] = BasicEducation
basic education grades 5-6[] = BasicEducation
basic education grades 7-9[] = BasicEducation
voluntary additional basic education[] = BasicEducation

basic education grades 1-2[] = BasicEducation/BasicEducation
basic education grades 3-4[] = BasicEducation/BasicEducation
basic education grades 5-6[] = BasicEducation/BasicEducation
basic education grades 7-9[] = BasicEducation/BasicEducation
voluntary additional basic education[] = BasicEducation/BasicEducation

basic education grades 1-2[] = BasicEducation/BasicEducation1-2
basic education grades 3-4[] = BasicEducation/BasicEducation3-4
basic education grades 5-6[] = BasicEducation/BasicEducation5-6
basic education grades 7-9[] = BasicEducation/BasicEducation7-9
voluntary additional basic education[] = BasicEducation/BasicEducationAdditional


tutkintoon valmentava koulutus, TUVA[] = TUVA
utbildning som handleder för examensutbildning, HUX[] = TUVA
preparatory education for an upper secondary education qualification, TUVA = TUVA


lukiokoulutus[] = UpperSecondary
lukiokoulutus[] = UpperSecondary/UpperSecondary

lukiokoulutukseen valmistava koulutus, LUVA[] = UpperSecondary
lukiokoulutukseen valmistava koulutus, LUVA[] = UpperSecondary/UpperSecondary
lukiokoulutukseen valmistava koulutus, LUVA[] = UpperSecondary/LUVA

gymnasieutbildning[] = UpperSecondary
gymnasieutbildning[] = UpperSecondary/UpperSecondary

utbildning som förbereder för gymnasieutbildning[] = UpperSecondary
utbildning som förbereder för gymnasieutbildning[] = UpperSecondary/UpperSecondary
utbildning som förbereder för gymnasieutbildning[] = UpperSecondary/LUVA

upper secondary school[] = UpperSecondary
upper secondary school[] = UpperSecondary/UpperSecondary

instruction preparing for general upper secondary education[] = UpperSecondary
instruction preparing for general upper secondary education[] = UpperSecondary/UpperSecondary
instruction preparing for general upper secondary education[] = UpperSecondary/LUVA


ammatillinen koulutus[] = VocationalEducation
ammatillinen koulutus[] = VocationalEducation/VocationalEducation

ammatilliseen koulutukseen valmentava koulutus, VALMA[] = VocationalEducation
ammatilliseen koulutukseen valmentava koulutus, VALMA[] = VocationalEducation/VocationalEducation
ammatilliseen koulutukseen valmentava koulutus, VALMA[] = VocationalEducation/VALMA

työhön ja itsenäiseen elämään valmentava koulutus, TELMA[] = VocationalEducation
työhön ja itsenäiseen elämään valmentava koulutus, TELMA[] = VocationalEducation/VocationalEducation
työhön ja itsenäiseen elämään valmentava koulutus, TELMA[] = VocationalEducation/TELMA

yrkesutbildning[] = VocationalEducation
yrkesutbildning[] = VocationalEducation/VocationalEducation
utbildning som handleder för yrkesutbildning[] = VocationalEducation
utbildning som handleder för yrkesutbildning[] = VocationalEducation/VocationalEducation
utbildning som handleder för yrkesutbildning[] = VocationalEducation/VALMA

utbildning som handleder för arbete och ett självständigt liv[] = VocationalEducation
utbildning som handleder för arbete och ett självständigt liv[] = VocationalEducation/VocationalEducation
utbildning som handleder för arbete och ett självständigt liv[] = VocationalEducation/TELMA

vocational education[] = VocationalEducation
vocational education[] = VocationalEducation/VocationalEducation
preparatory education for vocational training[] = VocationalEducation
preparatory education for vocational training[] = VocationalEducation/VocationalEducation
preparatory education for vocational training[] = VocationalEducation/VALMA

preparatory education for work and independent living[] = VocationalEducation
preparatory education for work and independent living[] = VocationalEducation/VocationalEducation
preparatory education for work and independent living[] = VocationalEducation/TELMA


omaehtoinen osaamisen kehittäminen[] = SelfMotivated
omaehtoinen osaamisen kehittäminen[] = SelfMotivated/SelfMotivated
vapaa sivistystyö[] = SelfMotivated/LiberalAdultEducation
kotoutumiskoulutus[] = SelfMotivated/IntegrationTraining
taiteen perusopetus[] = SelfMotivated/BasicEducationInTheArts

självständig utveckling av kompetens[] = SelfMotivated
självständig utveckling av kompetens[] = SelfMotivated/SelfMotivated
fritt bildningsarbete[] = SelfMotivated/LiberalAdultEducation
integrationsutbildning[] = SelfMotivated/IntegrationTraining
grundläggande konstundervisning[] = SelfMotivated/BasicEducationInTheArts

self-motivated competence development[] = SelfMotivated
self-motivated competence development[] = SelfMotivated/SelfMotivated
liberal adult education[] = SelfMotivated/LiberalAdultEducation
integration training[] = SelfMotivated/IntegrationTraining
basic education in the arts[] = SelfMotivated/BasicEducationInTheArts


korkeakoulutus[] = HigherEducation
korkeakoulutus[] = HigherEducation/HigherEducation
alemman korkeakouluasteen tutkinto[] = HigherEducation
alemman korkeakouluasteen tutkinto[] = HigherEducation/HigherEducation
alemman korkeakouluasteen tutkinto[] = HigherEducation/BachelorsDegree

ylemmän korkeakouluasteen tutkinto[] = HigherEducation
ylemmän korkeakouluasteen tutkinto[] = HigherEducation/HigherEducation
ylemmän korkeakouluasteen tutkinto[] = HigherEducation/MastersDegree

tutkijakoulutusasteen tutkinto[] = HigherEducation
tutkijakoulutusasteen tutkinto[] = HigherEducation/HigherEducation
tutkijakoulutusasteen tutkinto[] = HigherEducation/ThirdCycleDegree

högskoleutbildning[] = HigherEducation
högskoleutbildning[] = HigherEducation/HigherEducation

lägre högskoleexamen[] = HigherEducation
lägre högskoleexamen[] = HigherEducation/HigherEducation
lägre högskoleexamen[] = HigherEducation/BachelorsDegree

högre högskoleexamen[] = HigherEducation
högre högskoleexamen[] = HigherEducation/HigherEducation
högre högskoleexamen[] = HigherEducation/MastersDegree

forskarutbildning[] = HigherEducation
forskarutbildning[] = HigherEducation/HigherEducation
forskarutbildning[] = HigherEducation/ThirdCycleDegree

higher education[] = HigherEducation
higher education[] = HigherEducation/HigherEducation

bachelor's degree[] = HigherEducation
bachelor's degree[] = HigherEducation/HigherEducation
bachelor's degree[] = HigherEducation/BachelorsDegree

master's degree[] = HigherEducation
master's degree[] = HigherEducation/HigherEducation
master's degree[] = HigherEducation/MastersDegree

third cycle degree[] = HigherEducation
third cycle degree[] = HigherEducation/HigherEducation
third cycle degree[] = HigherEducation/ThirdCycleDegree

##default =
